<h1>List of users</h1>
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Login</th>
        <th>Email</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="user in users.data">
        <td>{{user._id}}</td>
        <td>{{user.login}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.created}}</td>
        <td>{{user.updated}}</td>
        <td>
            <div class="btn-group btn-group-xs">
                <a href="#/edit/{{user._id}}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="#"
                   class="btn btn-default"
                   ng-click="remove(user._id)"
                   data-widget="confirm"
                   data-title="Confirmation"
                   data-body="Do you really want to do that?"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </td>
    </tr>
</table>
<ul pagination="{ currentPage: users.currentPage, totalPages: users.totalPages, url: '#/list/:page' }"></ul>