<h1>List of users</h1>
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Login</th>
        <th>Email</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="user in users.data">
        <td>{{user._id}}</td>
        <td>{{user.login}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.created | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{user.updated | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>
            <div class="btn-group btn-group-xs">
                <a href="#/edit/{{user._id}}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="#" class="btn btn-default"
                   confirm="{ title: 'Confirmation', message: 'Do you really want to do that?' }"
                   on-confirm="remove(user._id)"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </td>
    </tr>
</table>
<ul pagination="{ currentPage: users.currentPage, totalPages: users.totalPages, url: '#/list/:page' }"></ul>