body {
    padding: 50px;
}

.content-container {
    position: relative;
}

.content {
    padding: 10px;
    width: 100%;
}

.content.ng-enter,
.content.ng-leave {
    transition: all 1.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content.ng-enter {
    left: 100%;
}

.content.ng-enter.ng-enter-active {
    left: 0;
}

.content.ng-leave.ng-leave-active {
    left: -100%;
}
