<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {{#each this}}
                <li><a href="{{href}}" data-route="{{route}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </div>
</nav>